@import "tailwindcss";
@import "tw-shimmer";

:root {
  --text-primary: #000000;
  --text-secondary: #262626;
  --text-primary-hover: #262626;
  --text-secondary-hover: #4d4d4d;

  --background-primary: #e0e0ff;
  --background-secondary: #b8b8e6;
  --background-primary-hover: #b8b8e6;
  --background-secondary-hover: #8f8fdb;

  --sidebar: #6f6fbf;

  --border: #4b4b8d;
  --border-hover: #1a1a3a;

  --text-error: #800000;
  --spot-light: #194a7a;

  --black-and-white: #000000;
}

.dark {
  --text-primary: #ececf4;
  --text-secondary: #d9d6ef;
  --text-primary-hover: #b7b3e8;
  --text-secondary-hover: #41414b;

  --background-primary: #0a0d15;
  --background-secondary: #182c39;
  --background-primary-hover: #182c39;
  --background-secondary-hover: #1f3c4d;

  --sidebar: #2d5067;

  --border: #2d5067;
  --border-hover: #3b6b81;

  --text-error: #d74a49;
  --spot-light: #d1dbe4;

  --black-and-white: #ffffff;
}

@theme {
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-primary-hover: var(--text-primary-hover);
  --color-text-secondary-hover: var(--text-secondary-hover);

  --color-background-primary: var(--background-primary);
  --color-background-secondary: var(--background-secondary);
  --color-background-primary-hover: var(--background-primary-hover);
  --color-background-secondary-hover: var(--background-secondary-hover);

  --color-sidebar: var(--sidebar);

  --color-border: var(--border);
  --color-border-hover: var(--border-hover);

  --color-text-error: var(--text-error);
  --color-spot-light: var(--spot-light);

  --color-black-and-white: var(--black-and-white);
}



body {
  color: var(--text-primary);
  background-color: var(--color-background-primary);
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior: none;
  overscroll-behavior-y: none;
}


body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}


.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}


/* Animate Background Color */
.gradient-background {
  background: linear-gradient(
    300deg,
    #000000,
    var(--color-background-primary),
    var(--color-background-secondary),
    #12ff00
  );
  background-size: 240% 240%;
  animation: gradient-animation 14s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
